@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.navbarmenu{
    height: 80px;
    display: flex;
    background-color: transparent; 
    justify-content: left;
    align-items: center;
    position: sticky;
    padding-top: 10px;
    padding-left: 10px;
}   

.body {
    background-color: #F5F5F5;
    width: 100%;
    height: 100%;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.namefont {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    flex-wrap: wrap;
    justify-content: center;
}

.all-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 950px !important;
}

.card {
    margin: 10px;
    border-radius: none;
    box-shadow: 30px;
    justify-content: space-between;
    justify-content: space-around;
    height: 700px !important;
    margin-bottom: 10px;
}

.card:hover {
    background-color: #c0cdf1;
    width: 50;
}

.card-img {
    margin-top: none;
    width: 100%;
    height: 90%;
}

.card-img:hover {
    margin-top: none;
}

#avataricon {
    width: 100px !important;
    height: 100px !important;
    color: black !important;
}

.redes {
    width: 50px !important;
    height: 50px !important;
    color: black !important;
    padding: 3px;
}

.maincontainer {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin: 40px;
    border: #333;
    width: 900px;
    height: 705px;
    padding-bottom: 15px;    
}

.card {
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.30s ease;
    cursor: auto;
    box-shadow: 3px #333;
    border-radius: 5px;
}

.card:hover {
    transform: rotateY(180deg);

}

.front {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-size: cover;
    color: rgb(0, 0, 0);
}

.back {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #E2EBC8;
    background-size: cover;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);    

}

.infos li {
    font-weight: 700;
    padding: 4px;
    font-family: 'Montserrat', sans-serif;
}

.btn{
    display: flex;    
    align-items: flex-start;  
    justify-content: center;
    border: none;
    padding: none; 
    transition: background 0.3s;
    border-radius: 5px;
}