@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.backgroundrosa{
    background-color: #C9ACA0 !important;
    border-radius: 5px;
}

.image2 {
    background-image: url(https://i.imgur.com/W4Duv6Z.jpg) !important;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 100%;
    min-height: 854px;
    background-size: cover;
    background-position: center;
    padding-left: 25px;
    padding-top: 10px;
    filter: drop-shadow(1px 1px 1px #585858) !important;
}

.alignsidebarohyes2{
    padding-left:30px !important;
    padding-top: 10px !important;
    filter: drop-shadow(1px 1px 1px #585858) !important;
}

.text2 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold !important;
}

.colorbut2{
    font-family: 'Montserrat', sans-serif !important;
    background-color: #fafafa !important;
    filter: drop-shadow(1px 1px 1px #585858) !important;
    border-radius: 5px;  
}

.btnCancelarCadastrar {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #ffffff !important;
    font-weight: bold !important;
    color: black !important;
    filter: drop-shadow(1px 1px 1px #585858) !important;
    cursor: pointer;
    border-radius: 5px;  
}
.none{
    padding-left: 0px !important;
    padding-top: 12px !important;
    text-decoration: none !important;
}

