@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.page{
    background-color: #E3DFDC;
    background-repeat: no-repeat; 
    width: 100%;
    height: 100vh;
    background-size: cover;
    align-items: center;
}

.title{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;


}

.cart-block{
    widht: 200px; 
    height:200px;
    background-color: azure;
}

.createOrder{
    justify-content: center;
    align-items: center;
}

