@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.donation {
    margin: auto;
    display: flex;
    flex-direction: row;
   
    align-items: center;
    font-size: 100px;
}

.doar {
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

.escolher {
    font-size: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}

.FormHelperText {
font-size: 100px;
}

.doacao {
    background-color: rgba(255, 255, 255, 0.857);
    border-radius: 5px;
    width: 10px;
    height: 230px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    
}

.btnCadastrar2 {
    background-color: #8A6035 !important;
    font-weight: bold !important;
  margin: 100px;
}

.btnCadastrar2:hover {
    background-color: #8A6035 !important;
    font-weight: bold !important;
    cursor: pointer;
    -webkit-filter: drop-shadow(1px 1px 1px #d3a77b);
    filter: drop-shadow(1px 1px 1px #000000);
    opacity: 2000;
}