.textos1{
    font-weight: bold !important;
 }
 
 .imagem{
     background-image: url(https://imgur.com/cps58Bf.jpg) !important;
     background-repeat: no-repeat !important;
     width: 100vh !important;
     min-height: 100vh !important;
     background-size: cover !important;
     background-position: center!important;
 }
 
 .text-decorator-none{
     text-decoration: none;
 }

 .text-decorator-none Button {
     width: 100%;
 }
