.textos{
    font-weight: bold !important;
 }

.textos1{
    font-weight: bold !important;
    text-decoration: none !important;
    color:#a46609 !important;
 }

.logar{
    font-family: 'Montserrat', sans-serif !important;
    border-color: #a46609 !important;
    background-color: #a46609 !important;
    border-radius: 5px !important;
    font-weight: bold !important;
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px #585858) !important;
}
.colorbut{
    background-color: #fafafa !important;
    filter: drop-shadow(1px 1px 1px #585858) !important;
    border-radius: 5px !important;
 }

 .fundo-da-pagina{
    border-radius: 5px;
    background-color: #C9ACA0;
 }
 
.imagem{
    background-image: url(https://i.imgur.com/mLC0R5i.jpg) !important;
    background-repeat: no-repeat !important;
    width: 100vh !important;
    height: 100vh !important;
    background-size: cover !important;
    background-position: center!important;
    padding-right: 50% !important ;
    border-radius: 5px;
    background-position: center;
    padding-top: 10px;
    filter: drop-shadow(1px 1px 1px #585858) !important;
 }
 
.text-decorator-none{
     text-decoration: none;
 }

.text-decorator-none Button {
     width: 100%;
 }

.cadastre-se {
    text-decoration: none;
}

.alignsidebarohyes{
    padding-left:30px !important;
    padding-top: 10px !important;
    -webkit-filter: drop-shadow(1px 1px 1px #d3a77b) !important;
    filter: drop-shadow(1px 1px 1px #585858) !important;
}
