.image2{
    background-image: url(https://i.imgur.com/LzWtT0n.jpg);
    background-repeat: no-repeat;
    width: 1200vh;
    min-height: 1200;
    background-size: cover;
    background-position: center;
}
.gambiarra{
    display: flex;
    align-items: center;
    padding-left: 35px;
    font-size: x-large;
    text-decoration: none;
}
.navbarmenu100{
    height: 80px;
    display: flex;
    background-color: transparent; 
    justify-content: left;
    align-items: center;
    position: sticky;
    padding-top: 10px;
    padding-left: 40px;
}   
.navbarbutton100{
    display: flex;
    width: 550px;
    background-color: transparent ;
    padding-left: 80%;
    padding-top: 10px;
}
.navbarmenu100 button{
    border: none;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-size: medium;
    transition: 200ms;
    border-radius: 10px;
    padding: 10px 5px;
}
.login {
    background-color: #875e35 !important;
    font-weight: bold !important;
}
.alinharcontato{
    padding-left: 30%;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#telefone{
    background-color: white;
    border-radius: 5px;
}

#email{
    background-color: white;
    border-radius: 5px;
}

#mandesuamensagem{
    background-color: white;
    border-radius: 5px;
}