*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    background: black;
}
input[type=radio]{
    display: none;
}