@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.thanksnav{
    height: 80px;
    display: flex;
    background-color: transparent; 
    justify-content: left;
    align-items: center;
    position: sticky;
    padding-top: 10px;
    padding-left: 40px;
}   
.tanksbutton{
    display: flex;
    width: 550px;
    background-color: transparent;
    justify-content: right;
    padding-left: 750px;
    padding-top: 10px;
}
.thanksnav button{
    border: none;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-size: medium;
    transition: 200ms;
    border-radius: 10px;
    padding: 10px 5px;
}
button:hover{
    background-color: rgba(160, 159, 159, 0.397);
}
.backThanks {
    background-color: #E3DFDC;
}


