@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.body {
    background-color: #C9ACA0;
    background-size: cover;
    width: 100%;
    height: 100%;

}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.all-cards {
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;

}

.maincontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin: 20px;
    border: #333;
    width: 400px;
    height: 420px;
}


.card {
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: all 0.10s ease;
    cursor: auto;
    margin: 10px;
    border-radius: none;
    box-shadow: 30px;
    justify-content: space-around;
    border-radius: 5px;
}

.card:hover {

    transform: rotateY(180deg);
    background-color: #c0cdf1;
    width: 100%;

}

.front {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-size: cover;
    color: rgb(0, 0, 0);
}

.back {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #E2EBC8;
    background-size: cover;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
}

.namefont {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


.card-img {
    margin-top: none;
    width: 200px;
    height: 220px;
}

.card-img:hover {
    margin-top: none;
}


#avataricon {
    width: 100px !important;
    height: 100px !important;
    color: black !important;
}

.redes {
    width: 50px !important;
    height: 50px !important;
    color: black !important;
    padding: 3px;
}

.infos li {
    font-weight: 700;
    padding: 4px;
    font-family: 'Montserrat', sans-serif;
}

.icons {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: last baseline;
    align-items: center;
    padding-bottom: 5px;
}

.leaders{
    display: flex;
    flex-wrap: wrap;
}

.tipo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.instructors{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}