@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.menu{
align-items: 50px !important;
margin: 100px !important;
width: 300px ;
cursor: pointer;
padding-top: 50px;
}

.navbarbutton1{
    border: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: transparent;
}
.textlistorder{
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    padding: 0px 5px;
    font-weight: bold !important;
    padding-left: 50%;
}