.select{
align-items: 50px !important;
margin: 100px !important;
width: 300px ;
cursor: pointer;
padding-top: 50px;
}

.navbarbutton1{
    border: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: transparent;
  
}